<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	Wuhan - Metro</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--Navigation-->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span>Wuhan</span>Metro</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

    <!--banner-->
    <div id="main" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="panel panel-container">
			<div class="row">
				<div class="col-xs-4 col-md-2 col-lg-2 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="large">Index</div>
							<div class="text-muted">New Orders</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 1</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 2</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 3</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 4</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 6</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 7</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 8</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 11</div>
							<div class="text-muted">Comments</div>
						</div>
					</div>
				</div>
                
                <div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="h2">Line 21</div>
							<div class="text-muted">New Orders</div>
						</div>
					</div>
				</div>			
			</div><!--/.row-->
		</div>




    <!--sidebar-->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Username</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
	</div><!--/.sidebar-->





	<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Metro Map
					</div>
					<div class="panel-body">
						<img src="/E:/repo/docs/docs/assets/map.png"  alt="Metro Map" />
					</div>
				</div>
			</div>
		</div><!--/.row-->











	

	
		
</body>
</html>