<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	Wuhan - Metro</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--Navigation-->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span>武汉</span>地铁</a>
				<div class="d1"><img src="images/logo6.png"  alt="Metro Map" /></div>
              
			</div>
				
		</div>
	</nav>

    <!--banner-->
    <div id="main" class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="panel panel-container">
			<div class="row">
				<div class="col-xs-4 col-md-2 col-lg-2 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">全部线路</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">1号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">2号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">3号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">4号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">6号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">7号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">8号线</div>
						</div>
					</div>
				</div>

				<div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-blue panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">11号线</div>
						</div>
					</div>
				</div>
                
                <div class="col-xs-2 col-md-1 col-lg-1 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="h3">21号线</div>
						</div>
					</div>
				</div>			
			</div>
		</div>



    <!--sidebar-->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    	<!--login-->
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">管理员/乘客</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
        <div class="divider"></div>

        
         <!--票价查询-->
        <div class="panel panel-container">
			<div class="row">
               
				<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						票价查询
					</div>	
				</div>

                <!--origin station-->
		        <form role="search">
		        	<div class="form-group">
		        		<input type="text" class="form-control" placeholder="起点">
		        	</div>
		        </form>
		        <!--destination-->
		        <form role="search">
		        	<div class="form-group">
		        		<input type="text" class="form-control" placeholder="终点">
		        	</div>
		        </form>
                <!--price/ticket-->
                <div class="form-group">
	            <div class="col-md-3"><h5>票价</h5></div>
	            <div class="col-md-9">
		            <input id="name" name="name" type="text" placeholder="元/张" class="form-control">
	            </div>
                </div>

                </div>
            </div>
        </div>
			    

         <!--购票数量-->   
        <div class="panel panel-container">
			<div class="row">
                
				<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						购票数量
					</div>	
				</div>
			    </div>

                <div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">1</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">2</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">3</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">4</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">5</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">6</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">7</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding">
							<div class="medium">8</div>
						</div>
					</div>
				</div>
	    
			</div>
		</div>



        <ul class="nav menu">
			<li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> 确认购票</a></li>
			<li class="active"><a href="index.html"><em class="fa fa-calendar">&nbsp;</em> 武汉通购买</a></li>
			<li><a href="index.html"><em class="fa fa-bar-chart">&nbsp;</em> 武汉通充值</a></li>
		</ul>

















	</div><!--/.sidebar-->




	<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						地铁线路图
					</div>
					<div class="panel-body">
						<img src="../../docs/assets/map.png"  alt="Metro Map" />
					</div>
				</div>
			</div>
		</div><!--/.row-->



	
		
</body>
</html>