<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Wuhan - Metro</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span>武汉</span>地铁</a>
                <div class="d1"><img src="images/logo6.png" alt="Metro Map" /></div>

            </div>

        </div>
    </nav>



    <!--sidebar-->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <!--login-->
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="images/github.png" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">热干面</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>


        <ul class="nav menu">
            <li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> 主页 </a></li>
            <li><a href="recharge_card.html"><em class="fa fa-calendar">&nbsp;</em> 武汉通充值</a></li>
            <!-- <li><a href="index.html"><em class="fa fa-bar-chart">&nbsp;</em> 购票</a></li> -->
        </ul>


    </div>
    <!--/.sidebar-->

    <!--banner-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <!-- <div class="pay"><article align="center"><img src="images/pay.png"></article></div> -->


        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">购票</li>
            </ol>
        </div>
        <!--/.row-->



        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        线路详情
                        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
                    </div>
                    <div class="panel-body canvas-wrapper">
                        <div class="subway-map" data-columns="30" data-rows="4" data-cellSize="40"
                            data-legendId="legend" data-textClass="text" data-gridNumbers="true" data-grid="false"
                            data-lineWidth="8">
                            <ul data-color="#36AEFF" data-label="jQuery Widgets" id="subway-ul">

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12" style="margin-top: 3em;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">购票数量</label>
                                    <div class="col-md-6">
                                        <output id="ticket-amount" name="amount" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">应付金额</label>
                                    <div class="col-md-6">
                                        <output id="price" name="amount" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">所花时间</label>
                                    <div class="col-md-6">
                                        <output id="time" name="time" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 2em;">
                            <div align="center">
                                <!-- <button class="btn btn-md btn-primary" data-modal-id="modal-register">扫码支付</button>-->
                                <a class="btn btn-md btn-primary" href="#" data-toggle="modal"
                                    data-target="#modal-register">扫码支付</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.panel-->
            </div>
            <!--/.col-->

        </div>
        <!-- /.row -->
    </div>
    <!--/.main-->

    <!--box modal-->
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-register-label">支付</h3>

                </div>


                <div class="modal-body">
                    <div style="overflow: hidden;">
                        <div class="col-md-6"><img src="images/alipay.png" width="100%"></div>
                        <div class="col-md-6"><img src="images/weixin.png" width="100%"></div>
                    </div>
                    <div align="center" style="margin-top: 20px">
                        <a href="index.html">
                            <button type="button" class="btn btn-md btn-primary">
                                确认支付
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="js/pay.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/easypiechart.js"></script>
    <script src="js/easypiechart-data.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.subwayMap-0.5.3.js"></script>


</body>

</html>