<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Wuhan - Metro</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span>武汉</span>地铁</a>
                <div class="d1"><img src="images/logo6.png" alt="Metro Map" /></div>

            </div>

        </div>
    </nav>



    <!--sidebar-->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <!--login-->
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">管理员/乘客</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>


        <ul class="nav menu">
            <li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> 主页 </a></li>
            <li><a href="recharge_card.html"><em class="fa fa-calendar">&nbsp;</em> 武汉通充值</a></li>
            <!-- <li><a href="index.html"><em class="fa fa-bar-chart">&nbsp;</em> 购票</a></li> -->
        </ul>


    </div>
    <!--/.sidebar-->

    <!--banner-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <!-- <div class="pay"><article align="center"><img src="images/pay.png"></article></div> -->


        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">购票</li>
            </ol>
        </div>
        <!--/.row-->



        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        线路详情
                        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
                    </div>

                    <div class="panel-body">

                        <div class="col-md-12" style="margin-top: 2em;margin-bottom: -3em;align-items: center;">
                            <div class="col-md-5" style="text-align: center;">
                                <h4><b>2号线</b></h4>
                            </div>
                            <div class="col-md-2" style="text-align: center;">
                                <h4><b>4号线</b></h4>
                            </div>
                            <div class="col-md-5" style="text-align: center;">
                                <h4><b>3号线</b></h4>
                            </div>
                        </div>

                        <div class="canvas-wrapper">
                            <canvas class="main-chart" id="line-chart" height="100" width="800"></canvas>
                        </div>

                        <div class="col-md-12" style="margin-top: -4em;margin-bottom: 2em;align-items: center;">
                            <div class="col-md-3" style="text-align: center;">
                                <h4><b>街道口</b></h4>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <h4><b>中南路</b></h4>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <h4><b>王家湾</b></h4>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                                <h4><b>体育中心</b></h4>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 3em;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">购票数量</label>
                                    <div class="col-md-6">
                                        <output id="amount" name="amount" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">应付金额</label>
                                    <div class="col-md-6">
                                        <output id="amount" name="amount" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">所花时间</label>
                                    <div class="col-md-6">
                                        <output id="time" name="time" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div align="center">
                            <!-- <button class="btn btn-md btn-primary" data-modal-id="modal-register">扫码支付</button>-->
                            <a class="btn btn-md btn-primary" href="#" data-toggle="modal" data-target="#modal-register">扫码支付</a> 
                        </div>

                    </div>
                </div>
                <!--/.panel-->
            </div>
            <!--/.col-->

        </div>
        <!-- /.row -->
    </div>
    <!--/.main-->

    <!--box modal-->
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-register-label">支付</h3>

                </div>
                

                <div class="modal-body">
                    
                    <!-- <form role="form" action="" method="post" class="registration-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-first-name">First name</label>
                            <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-last-name">Last name</label>
                            <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-email">Email</label>
                            <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-about-yourself">About yourself</label>
                            <textarea name="form-about-yourself" placeholder="About yourself..." 
                                        class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                        </div>
                        <button type="submit" class="btn">Sign me up!</button>
                    </form> -->
                    <!-- <img src="images/alipay.png" width="100%" >
                    <img src="images/alipay.png" width="100%" > -->
                    <div style="overflow: hidden;">
                        <div class="col-md-6"><img src="images/alipay.png" width="100%" ></div>
                        <div class="col-md-6"><img src="images/weixin.png" width="100%"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/easypiechart.js"></script>
    <script src="js/easypiechart-data.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/box.js"></script>
    <script src="js/pay_drawline.js"></script>
    <script src="js/pay_drawline_data.js"></script>
    <!-- <script src="js/pay_modal.js"></script> -->
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,0)",
                scaleGridLineColor: "rgba(0,0,0,0)",
                //scaleFontColor: "#c5c7cc"
                scaleFontColor: "#FFF"
            });
        };
    </script>

</body>

</html>