<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Wuhan - Metro</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
   

</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span>武汉</span>地铁</a>
                <div class="d1"><img src="images/logo6.png" alt="Metro Map" /></div>

            </div>

        </div>
    </nav>



    <!--sidebar-->
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <!--login-->
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="images/github.png" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">热干面</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>


        <ul class="nav menu">
            <li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> 主页 </a></li>
            <li><a href="recharge_card.html"><em class="fa fa-calendar">&nbsp;</em> 武汉通充值</a></li>
            <!-- <li><a href="index.html"><em class="fa fa-bar-chart">&nbsp;</em> 购票</a></li> -->
        </ul>


    </div>
    <!--/.sidebar-->

    <!--banner-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <!-- <div class="pay"><article align="center"><img src="images/pay.png"></article></div> -->


        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">购票</li>
            </ol>
        </div>
        <!--/.row-->



        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        线路详情
                        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span>
                    </div>
                    <div class="panel-body canvas-wrapper">
                        <div class ="subway-map"  data-columns="30" data-rows="4" data-cellSize="40" data-legendId="legend" data-textClass="text" data-gridNumbers="true" data-grid="false" data-lineWidth="8">
                            <ul data-color="#36AEFF" data-label="jQuery Widgets" id = "subway-ul">          
                               
                            </ul>

                        </div>
                    </div> 
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12" style="margin-top: 3em;">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">购票数量</label>
                                    <div class="col-md-6">
                                        <output id="ticket-amount" name="amount" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">应付金额</label>
                                    <div class="col-md-6">
                                        <output id="price" name="amount" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">所花时间</label>
                                    <div class="col-md-6">
                                        <output id="time" name="time" type="text" placeholder="Your name"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 2em;">
                            <div align="center">
                                <!-- <button class="btn btn-md btn-primary" data-modal-id="modal-register">扫码支付</button>-->
                                <a class="btn btn-md btn-primary" href="#" data-toggle="modal" data-target="#modal-register">扫码支付</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.panel-->
            </div>
            <!--/.col-->

        </div>
        <!-- /.row -->
    </div>
    <!--/.main-->

    <!--box modal-->
    <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="modal-register-label">支付</h3>

                </div>
                

                <div class="modal-body">
                    <div style="overflow: hidden;">
                        <div class="col-md-6"><img src="images/alipay.png" width="100%" ></div>
                        <div class="col-md-6"><img src="images/weixin.png" width="100%"></div>
                    </div>
                    <div align="center" style="margin-top: 20px">
                        <a href="index.html">
                        <button type="button" class="btn btn-md btn-primary" >
                            确认支付
                        </button>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
    <script>
        function add_li(station_index, text, station_num, interchange)
        {
            var ul = document.getElementById("subway-ul");
            var x_coord = 14;
            if(station_num/2 == 0) //两两对称
            {
                x_coord = 12;
                var x_offset = (station_index - (station_num/2 - 1))*6;
                x_coord = x_coord + x_offset; 
            }
            else{
                var x_offset = (station_index - (station_num -1)/2)*6;
                x_coord = x_coord + x_offset; 
            }
            //添加 li
            var li = document.createElement("li");
        　　 //设置 li 属性，如 id
            li.setAttribute("data-coords", x_coord + ",2");
            li.innerHTML = text;
            if(interchange == 1)
                li.setAttribute("data-marker", "interchange")
            ul.appendChild(li);
        }
        
        
        function fail(code) {
            var textarea = document.getElementById('test-response-text');
            textarea.value = 'Error code: ' + code;
        }
        var storage=window.localStorage;
        var result;

        function success(text) {
            result = JSON.parse(text);
            var route = result.results[0].route;
            var stations_temp = route.split(" ");

            var stations = new Array();
            var interchange = new Array();
            for(var i = 1; i < stations_temp.length; i++)
            {
                var station = stations_temp[i];
                console.log(station);
                console.log(station.charAt(0));
                if(station.charAt(0) <= '9' && station.charAt(0) >= '0') //一条线, 表示前一个站是中转站
                {
                    
                    var new_station = stations_temp[i-1].concat("(").concat(station).concat(")");
                    stations.push(new_station);
                    
                }
            }
            stations.push(stations_temp[stations_temp.length-1]);
        
            
            for(var i = 0; i < stations.length; i++)
            {
                if(i == 0 || i == stations.length - 1)
                    add_li(i, stations[i],stations.length,1);
                else
                    add_li(i, stations[i],stations.length,0);
            }

            var ticket = document.getElementById("ticket-amount");
            ticket.innerHTML = storage.getItem("ticket-num");
            var price = document.getElementById("price");
            var single_price = parseInt(result.results[0].price);
            var ticket_num = parseInt(storage.getItem("ticket-num"));
            price.innerHTML = single_price*ticket_num;
            var time = document.getElementById("time");
            time.innerHTML = result.results[0].time;
        }



        var request = new XMLHttpRequest(); // 新建XMLHttpRequest对象
                // 发送请求:
        var url = "http://127.0.0.1:8000/api/routes/?begin=" + storage.getItem("depature") + "&end=" + storage.getItem("destination");
        request.open('GET', url);
        request.send();

        request.onreadystatechange = function () { // 状态发生变化时，函数被回调
            if (request.readyState === 4) { // 成功完成
                // 判断响应结果:
                if (request.status === 200) {
                    // 成功，通过responseText拿到响应的文本:
                    return success(request.responseText);
                } else {
                    // 失败，根据响应码判断失败原因:
                    return fail(request.status);
                }
            } else {
                console.log(request.readyState);
            }
        }

    </script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/easypiechart.js"></script>
    <script src="js/easypiechart-data.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/custom.js"></script>
    <script src ="js/jquery.subwayMap-0.5.3.js"></script>
  
    <script type="text/javascript">
        $(".subway-map").subwayMap({ debug: true });
    </script>

</body>

</html>